body {
  /*background-color: lightgray;*/
  /*background-image: linear-gradient(to bottom , #ACDBC9, #F48B94);*/
  background-image: url(/static/images/backgroundIMG.png);
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
/*
 * Formatting the header area
 */
header {
  /*background-color: black;*/
  background-image: linear-gradient(to left, #99b898, #2a363b);
  height: 47px;
  width: 100%;
  opacity: .5;
  margin-bottom: 50px;
}
footer {
  /*background-color: black;*/
  background-image: linear-gradient(to right, #99b898, #2a363b);
  height: 160px;
  width: 100%;
  opacity: .5;
  margin-top: 50px;
  margin-bottom: 0px;
}
header h1.logo {
  margin-left: 0px;
  margin-top: 3px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
/*header h1.logo:hover {*/
  /*color: #fff;*/
  /*background-color: navajowhite;*/
  /*text-decoration: none;*/
/*}*/
/*
 * Centering the body content
 */
.container {
  width: 900px;
  margin: 0 auto;
}
div.home {
  padding: 10px 35px 30px 35px;
  background-color: ghostwhite;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.home a {
  color: gray;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  /*text-align: center;*/
}
div.portfolio {
  padding: 10px 35px 30px 35px;
  background-color: ghostwhite;
  /*background-image: linear-gradient(to bottom, #e1f5c4, #f05053);*/
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 35px;
  background-color: ghostwhite;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
p {
  color: grey;
  margin-right: 100px;
}
.menu {
  float: right;
  margin-top: 10px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.exhibation li {
  display: inline-block;
}
.exhibation li + li {
  margin-left: 20px;
}
.image {
  display: block;
  border-radius: 6px;
}
. address {
  display: block;
  font-style: italic;
}
.a {
  text-decoration: none;
  color: #3B666B;
}