<!DOCTYPE html>
<html>
  <body>
  {% extends "template.html" %}
  {% block content %}
     <div class="home">
       <h1 style="text-align: center;">Greetings!</h1>
       <p>Welcome to Y.S. This is my personal website that I built it from scratch.
         The purpose of developing this site is to show my ability as a software engineer.
         It is also my playground where I practice new technology I learn and polish skills I already have.
         Please feel free to explore kinds of fun stuffs here and enjoy yourself.</p>
       <br><hr>
       <h1 style="text-align: center;">More about Y.S</h1>
       <a href="{{ url_for('siteInformation') }}">Y.S information</a>
       <br><br><hr>
       <h1 style="text-align: center">Who I am</h1>
       <a href="{{ url_for('portfolio') }}">My portfolio</a>
     </div>
  {% endblock %}
  </body>
</html>