<!DOCTYPE html>
<html>
  <body>
  {% extends "template.html" %}
  {% block content %}
     <div class="home">
       <br><h1>GREETINGS</h1><br>
       <p>Welcome to Y.S, This is my personal website that I built it from scratch.</p>
       <p>The purpose of developing this site is to show my ability as a software engineer.</p>
       <p>It is also my playground where I practice new technology I learn and polish skills I already have.</p>
       <p>Please feel free to explore kinds of fun stuffs here and enjoy yourself.</p>
       <br><br><br><br><br><br><br><br><br><br><br><br>
     </div>
  {% endblock %}
  </body>
</html>