<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
  </head>
  <body>
  {% extends "template.html" %}
  {% block content %}
    <div class="portfolio">
      <!--<h1>PORTFOLIO</h1>-->
      <br>
      <a href="/static/images/selfie.jpg"><img class="image" src="{{ url_for('static', filename='images/selfie.jpg') }}"
           alt="even's selfie" width="200" height="200"></a><br>
      <address>
        <p>Even Ma</p>
        <p>Email: evenma0105@gmail.com</p>
        <p>Area: LA county, California</p>
      </address><br><hr>
      <h3>STATEMENT OF ORIGINALITY</h3>
      <p>Statement of Originality and Confidentiality. This portfolio is the work of Even Ma. Please do not
        copy without permission.</p></p><br><hr>
      <h3>PERSONAL INFORMATION</h3>
      <p>I'm a software engineer and I have been doing if for more than three years. I started programming
        in high school and ever since then I decided to make it my career.</p>
      <p>I earned my Bachelor of Science degree at San Francisco State University.
        After school, I went into the industry where I got valuable experience and my skills were refined.</p>
      <p>Now I am looking for opportunities that can utilize my creativity and allow me to apply my verstaile skill set on
        challenging problems daily.</p><br><hr>
      <h3>WORK PHILOSOPHY</h3>
      <p>Programing is like playing LEGO, you use limited materials to create unlimited things.
        The process of converting an idea to a real thing is the most enjoyable part for me.</p><br><hr>
      <h3>CAREER GOALS</h3>
      <p>I want to eventually have the skills and experience needed to lead an extensive project from start to finish.
        After I am comfortable with the projects I built and the skillset I developed, I'd like to pursue a master degree
        in the field of Artificial Intelligence.</p><br><hr>
      <h3>SKILLS/ABILITIES</h3>
      <p>I am proficient with a variety of programming languages and my strength lies in knowledge of data structures and algorithms.</p>
      <p>After years of studying in CS, I could build efficient web applications from scratch and implement features in a timely manner.</p>
      <h4>PROGRAMING LANGUAGE:</h4>
      <p>Java, Python, Ruby, C++, JavaScript, HTML, CSS, PHP, MySQL, PostgreSQL</p>
      <h4>FRAMEWORKS:</h4>
      <p>Ruby on Rails, Flask, Django, React.js, Angular, jQuery</p>
      <h4>OTHERS:</h4>
      <p>RESTful API, Heroku, AWS, MongoDB, Node.js, PythonAnywhere</p><br><hr>
      <h3>RESUME</h3><br>
      <embed src="{{ url_for('static', filename='resume/evenResume2019.pdf') }}" type="application/pdf"
             width="100%" height="600px"><br><br>
      <a href="/static/resume/evenResume2019.pdf">Full size</a>
    </div>
  {% endblock %}
  </body>
</html>
