<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
  {% extends "template.html" %}
  {% block content %}
  <div class="home">
    <h3>ABOUT THE SITE</h3>
    <p>Y.S is my personal web site and playground. It is written by Python, the framework is Flask. Everything
      here is built from scratch by myself.</p>
    <p>My intention is to create some interesting stuff, and others and myself can get
      fun here. As you can see, the site is pretty plain. I will keep working on it and add more features in the
      future.</p>
    <p>Belows are stuff you can explore so far.</p><br><hr>
    <h3>PORTFOLIO</h3>
    <p>You can find my portfolio from navigation bar, by typing the "Even" one.</p><br><hr>
    <h3>PROJECTS</h3>
    <p>To see my projects, please navigate to the "Projects" page.</p>
  </div>
  {% endblock %}
  </body>
</html>