<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
  {% extends "template.html" %}
  {% block content %}
  <div class="home">
    <h1>About Y.S</h1>
    <p>Y.S is my personal web site and playground. It is written by Python, the framework I used is Flask. Everything
    here is built from scratch by myself. My intention is to build some interesting stuff, so others and me can get
    fun here. Below is stuff you can explore so far.</p><br>
    <h4>Portfolio</h4>
    <p>You can find my portfolio from navigation bar, by typing the "Even" one.</p><br>
    <h4>Projects</h4>
    <p>To see my projects, please navigate to the "Projects" page.</p>
  </div>
  {% endblock %}
  </body>
</html>